.franchise
  position: relative
  padding-top: 100px
  padding-bottom: 120px
  background-color: #000
  &::before 
    content: ''
    position: absolute
    bottom: 122px
    left: 0
    width: 200px
    height: 43px
    background-color: $color-blue
  &::after 
    content: ''
    position: absolute
    top: 95px
    right: 37px
    width: 43px
    height: 213px
    background-color: $color-orange
  +media-lg 
    &::after 
      right: 15px
  +media-md 
    padding-top: 60px
    padding-bottom: 80px
  +media-sm 
    padding-top: 40px
    padding-bottom: 60px
    &::before 
      bottom: -20px
    &::after
      top: 140px

.franchise__title
  margin: 0
  margin-bottom: 75px
  text-align: center
  text-transform: uppercase
  +media-md 
    margin-bottom: 40px
  +media-sm 
    margin-bottom: 30px

.franchise__row 
  display: flex
  justify-content: space-between
  align-items: center
  +media-md 
    flex-wrap: wrap

.franchise__right
  width: 55%
  +media-md 
    width: 100%
    order: -1


.franchise__left 
  padding-left: 65px
  +media-lg 
    padding-left: 0px
  +media-md
    width: 100%

.franchise__logo
  +media-md
    display: block
    width: 351px
    margin: 0 auto
  +media-sm 
    position: relative
    z-index: 10
    width: 100%

.franchise__list 
  position: relative
  z-index: 10
  padding: 0 
  margin: 0
  list-style: none
  +media-md 
    margin-bottom: 30px

.franchise__item
  position: relative
  margin-bottom: 10px
  padding: 19px 25px 19px 30px
  font-size: 20px
  line-height: 1.25
  font-weight: 500
  background-color: #2c2c2c
  &::before 
    content: ''
    position: absolute 
    top: 50% 
    left: -15px
    transform: translateY(-50%)
    width: 21px
    height: 21px
    background-color: $color-blue
    background-clip: content-box
    border: 4px solid rgba(24, 121, 230, .5)
  &:nth-child(2)
    &::before
      background-color: $color-green
      border-color: rgba(1, 199, 34, .5)
  &:nth-child(3)
    &::before
      background-color: $color-orange
      border-color: rgba(253, 99, 39, .5)
  &:nth-child(5)
    &::before
      background-color: $color-pink
      border-color: rgba(255, 26, 155, .5)
  span 
    font-size: 30px 
    font-weight: 700
    &.franchise__item-blue
      color: $color-blue
    &.franchise__item-green
      color: $color-green
    &.franchise__item-orange
      color: $color-orange
    &.franchise__item-pink
      color: $color-pink
  +media-sm 
    font-size: 18px
    padding: 15px 20px 
    span 
      font-size: 20px
  