.photo 
  padding-top: 100px
  padding-bottom: 130px
  background-color: #000

.photo__title 
  margin: 0 270px
  margin-bottom: 75px
  text-align: center

.photo__slider-wrap
  height: 565px

.photo__slider-item 
  display: block

.swiper-button__container
  position: relative

.swiper-slide 
  width: auto