.photo 
  padding-top: 103px
  padding-bottom: 115px
  background-color: #000
  +media-md
    padding-top: 60px
    padding-bottom: 70px
  +media-sm 
    padding-top: 30px
    padding-bottom: 40px


.photo__title 
  margin: 0 270px
  margin-bottom: 75px
  text-align: center
  +media-lg 
    margin: 0
    margin-bottom: 75px
  +media-md
    margin-bottom: 40px
  +media-sm 
    margin-bottom: 30px


.swiper-slide 
  width: auto

.photo__slider-img
  +media-md 
    height: 300px
  +media-sm 
    height: 200px

.swiper-button-wrap
  position: absolute
  z-index: 50
  top: 0
  left: 50%
  transform: translateX(-50%)
  height: 566px
  width: 1280px
  .swiper-button-prev,
  .swiper-button-next
    width: 60px
    height: 60px
    background-color: rgba(44, 44, 44, .8)
    &:hover
      &::after 
        color: $color-green
    &::after 
      font-size: 25px
      color: #fff
      transition: .2s
  +media-lg
    width: 960px
  +media-md
    height: 300px
    width: 720px
  +media-sm
    height: 200px
    width: 430px
  +media-xs
    width: 375px
  