.trade 
  padding-top: 106px
  background: #000 url('../img/trade-bg.png') no-repeat left top

.trade__row 
  display: flex
  justify-content: space-between

.trade__left
  padding-left: 10px

.trade__right
  width: 58%

.trade__item
  padding-left: 5px
  padding-top: 37px
  
.trade__title
  margin: 0
  margin-bottom: 40px
  text-transform: uppercase

.trade__text
  font-size: 18px
  p 
    margin: 0
    margin-bottom: 24px

.trade__img 
  margin-top: -55px
  padding-left: 110px
  text-align: center