html 
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

body 
  min-width: 320px
  font-family: $font-main
  font-size: 18px
  line-height: 1.4
  letter-spacing: 0.02em
  font-weight: 400
  color: #fff

h2 
  font-size: 45px
  line-height: 1.3
  font-weight: 800
  text-transform: uppercase

h3
  font-size: 40px
  line-height: 1.37
  font-weight: 800
  text-transform: uppercase
  

.container
  // outline: 1px solid green
  max-width: 1280px
  margin: 0 auto
  padding: 0 20px
  +media-lg
    max-width: 960px
  +media-md
    max-width: 720px
  +media-sm
    max-width: 430px
  +media-xs
    width: auto
